/* Resetowanie marginesów i paddingu, aby wszystko przylegało do krawędzi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-stream {
    flex: 1; /* Główna szerokość dla playera Kick */
}

.sidebar {
    width: 440px; /* Szerokość dla czatu i Twitch Player */
    display: flex;
    flex-direction: column;
}

iframe {
    border: none;
    width: 100%; /* Zajmuje całą szerokość kontenera */
    height: 100%; /* Zajmuje całą wysokość kontenera */
}

.kick-player {
    height: 100%; /* Wypełnia całą wysokość kontenera */
}

.twitch-player {
    height: 320px; /* Wysokość playera Twitch */
}

.twitch-chat {
    height: 620px; /* Wysokość czatu Twitch */
}
